{% extends 'admin/templates/layout_dashboard.html' %}

{% block body%}

<body onload="resetCookie();">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
  MathJax = {
    tex: { inlineMath: [['$', '$'], ['\\[', '\\]'], ['\\text{', '}']] },
    loader: { load: ['input/asciimath', 'output/chtml', 'ui/menu'] },
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
<script>

  MathJax.Hub.Config({
    showProcessingMessages: false,
    jax: ["input/TeX", "output/HTML-CSS"],
    TeX: {
      TagSide: "left",
      Macros: {
        RR: '{\\bf R}',
        bold: ['{\\bf #1}', 1]
      }
    }
  });
  function convert() {
    //
    //  Get the TeX input
    //
    var input = document.getElementById("input").value.trim();
    //
    //  Clear the old output
    //
    output = document.getElementById('output');
    output.innerHTML = '';
    //
    //  Reset the tex labels (and automatic equation numbers, though there aren't any here).
    //  Get the conversion options (metrics and display settings)
    //  Convert the input to CommonHTML output and use a promise to wait for it to be ready
    //    (in case an extension needs to be loaded dynamically).
    //
    MathJax.texReset();
    var options = MathJax.getMetricsFor(output);
    MathJax.tex2chtmlPromise(input, options).then(function (node) {
      //
      //  The promise returns the typeset node, which we add to the output
      //  Then update the document to include the adjusted CSS for the
      //    content of the new equation.
      //
      output.appendChild(node);
      MathJax.startup.document.clear();
      MathJax.startup.document.updateDocument();
    }).catch(function (err) {
      //
      //  If there was an error, put the message into the output instead
      //
      output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
    }).then(function () {
      //
      //  Error or not, re-enable the display and render buttons
      //
    });
  }

  function convert1() {
    //
    //  Get the TeX input
    //
    var input = document.getElementById("input1").value.trim();
    //
    //  Clear the old output
    //
    output = document.getElementById('output1');
    output.innerHTML = '';
    //
    //  Reset the tex labels (and automatic equation numbers, though there aren't any here).
    //  Get the conversion options (metrics and display settings)
    //  Convert the input to CommonHTML output and use a promise to wait for it to be ready
    //    (in case an extension needs to be loaded dynamically).
    //
    MathJax.texReset();
    var options = MathJax.getMetricsFor(output);
    MathJax.tex2chtmlPromise(input, options).then(function (node) {
      //
      //  The promise returns the typeset node, which we add to the output
      //  Then update the document to include the adjusted CSS for the
      //    content of the new equation.
      //
      output.appendChild(node);
      MathJax.startup.document.clear();
      MathJax.startup.document.updateDocument();
    }).catch(function (err) {
      //
      //  If there was an error, put the message into the output instead
      //
      output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
    }).then(function () {
      //
      //  Error or not, re-enable the display and render buttons
      //
    });
  }

  function convert2() {
    //
    //  Get the TeX input
    //
    var input = document.getElementById("input2").value.trim();
    //
    //  Clear the old output
    //
    output = document.getElementById('output2');
    output.innerHTML = '';
    //
    //  Reset the tex labels (and automatic equation numbers, though there aren't any here).
    //  Get the conversion options (metrics and display settings)
    //  Convert the input to CommonHTML output and use a promise to wait for it to be ready
    //    (in case an extension needs to be loaded dynamically).
    //
    MathJax.texReset();
    var options = MathJax.getMetricsFor(output);
    MathJax.tex2chtmlPromise(input, options).then(function (node) {
      //
      //  The promise returns the typeset node, which we add to the output
      //  Then update the document to include the adjusted CSS for the
      //    content of the new equation.
      //
      output.appendChild(node);
      MathJax.startup.document.clear();
      MathJax.startup.document.updateDocument();
    }).catch(function (err) {
      //
      //  If there was an error, put the message into the output instead
      //
      output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
    }).then(function () {
      //
      //  Error or not, re-enable the display and render buttons
      //
    });
  }

  function convert3() {
    //
    //  Get the TeX input
    //
    var input = document.getElementById("input3").value.trim();
    //
    //  Clear the old output
    //
    output = document.getElementById('output3');
    output.innerHTML = '';
    //
    //  Reset the tex labels (and automatic equation numbers, though there aren't any here).
    //  Get the conversion options (metrics and display settings)
    //  Convert the input to CommonHTML output and use a promise to wait for it to be ready
    //    (in case an extension needs to be loaded dynamically).
    //
    MathJax.texReset();
    var options = MathJax.getMetricsFor(output);
    MathJax.tex2chtmlPromise(input, options).then(function (node) {
      //
      //  The promise returns the typeset node, which we add to the output
      //  Then update the document to include the adjusted CSS for the
      //    content of the new equation.
      //
      output.appendChild(node);
      MathJax.startup.document.clear();
      MathJax.startup.document.updateDocument();
    }).catch(function (err) {
      //
      //  If there was an error, put the message into the output instead
      //
      output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
    }).then(function () {
      //
      //  Error or not, re-enable the display and render buttons
      //
    });
  }

  function convert4() {
    //
    //  Get the TeX input
    //
    var input = document.getElementById("input4").value.trim();
    //
    //  Clear the old output
    //
    output = document.getElementById('output4');
    output.innerHTML = '';
    //
    //  Reset the tex labels (and automatic equation numbers, though there aren't any here).
    //  Get the conversion options (metrics and display settings)
    //  Convert the input to CommonHTML output and use a promise to wait for it to be ready
    //    (in case an extension needs to be loaded dynamically).
    //
    MathJax.texReset();
    var options = MathJax.getMetricsFor(output);
    MathJax.tex2chtmlPromise(input, options).then(function (node) {
      //
      //  The promise returns the typeset node, which we add to the output
      //  Then update the document to include the adjusted CSS for the
      //    content of the new equation.
      //
      output.appendChild(node);
      MathJax.startup.document.clear();
      MathJax.startup.document.updateDocument();
    }).catch(function (err) {
      //
      //  If there was an error, put the message into the output instead
      //
      output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
    }).then(function () {
      //
      //  Error or not, re-enable the display and render buttons
      //
    });
  }

  function filesize(elem) {
    document.cookie = `filesize=${elem.files[0].size}`
    alert(document.cookie)
  }

  function resetCookie() {
    document.cookie = `filesize=; expires=Thu, 01 Jan 1970 00:00:00 UTC;`
  }
</script>

<div class="container-fluid mx-auto bg-light mheight containBar">
  <br>
  <div class="container bg-white w-50 p-4 scroll-down shadow-sm">

    <form action="/dashboard/addquestion/{{testID}}" method="POST" enctype="multipart/form-data">



      <div class="text-center">
        <h1><i class='fas fa-question'></i>&nbsp;Agregar Pregunta</h1>
        <p>\[ \text{Cuando }a \ne 0\text{, existen 2 soluciones para }ax^2 + bx + c = 0\text{ las cuales son: }
          x = {-b \pm \sqrt{b^2-4ac} \over 2a} \]</p>
        <hr>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Digite su pregunta</label>
        <textarea class="form-control" name="pregunta" id="input" oninput="convert()" rows="5" required></textarea>
      </div>
      <img id="blah" class="img-fluid img-thumbnail" onclick="window.open(this.src)" alt="Imagen insertada"
        style="display: none;" />
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Seleccionar imagen</label>
        <div class="input-group mb-3">

          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input " oninput="filesize(this);" name="imgInp" id="imgInp"
              width="400px" height="400px" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Seleccionar imagen</label>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Enlace</label>
        <input type="enlace" name="enlace" class="form-control rounded-pill" placeholder="Digite su enlace..." value="">
      </div>
      <div class="container bg-white w-100 p-4 scroll-down shadow-sm">
        <div class="text-center">
          <h5><i class='fas fa-check'></i>&nbsp;Respuesta Correcta</h5>
          <hr>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Digite su respuesta</label>
          <textarea class="form-control" name="respuesta" id="input1" oninput="convert1()" rows="2" required></textarea>
        </div>
        <div class="text-center">
          <h5><i class='fas fa-check'></i>&nbsp;Respuesta Incorrecta 1</h5>
          <hr>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Digite su respuesta</label>
          <textarea class="form-control" id="input2" name="respuesta1" oninput="convert2()" rows="2" required></textarea>
        </div>
        <div class="text-center">
          <h5><i class='fas fa-check'></i>&nbsp;Respuesta Incorrecta 2</h5>
          <hr>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Digite su respuesta</label>
          <textarea class="form-control" id="input3" name="respuesta2" oninput="convert3()" rows="2" required></textarea>
        </div>
        <div class="text-center">
          <h5><i class='fas fa-check'></i>&nbsp;Respuesta Incorrecta 3</h5>
          <hr>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Digite su respuesta</label>
          <textarea class="form-control" name="respuesta3" id="input4" oninput="convert4()" rows="2" required></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-block rounded-pill">Guardar Pregunta</button>

    </form>
  </div>

  <!--<div class="col-md-6">
        <h1><i class='fa fa-eye'></i>&nbsp;Vista Previa</h1>
        <div class="container bg-white w-100 p-4 scroll-down shadow-sm">     
        <div class="form-group ">
          <label for="exampleInputPassword1">Pregunta:</label>
          <div id="output" class="text-left">
          </div>
        </div>
        </div>
        <img id="blah" class="img-fluid img-thumbnail" onclick="window.open(this.src)" alt="Imagen insertada"
              style="display: none;" />
            <div id="myModal" class="modal">
              <span class="close">&times;</span>
              <img class="modal-content" id="img01">
              <div id="caption"></div>
            </div>
        <div class="container bg-white w-100 p-4 scroll-down shadow-sm">     
        <div class="form-group ">
          <label for="exampleInputPassword1" class="text-success">Respuesta 1</label>
          <div id="output1" class="text-left text-success">
          </div>
        </div>
        </div>
        <div class="container bg-white w-100 p-4 scroll-down shadow-sm">     
          <div class="form-group ">
            <label for="exampleInputPassword1" class="text-danger">Respuesta 2</label>
            <div id="output2" class="text-left text-danger">
            </div>
          </div>
        </div>
        <div class="container bg-white w-100 p-4 pt-2 scroll-down shadow-sm">         
          <div class="form-group ">
            <label for="exampleInputPassword1" class="text-danger">Respuesta 3</label>
            <div id="output3" class="text-left text-danger">
            </div>
          </div>
        </div>
        <div class="container bg-white w-100 p-4 pt-2 scroll-down shadow-sm">
          
          <div class="form-group ">
            <label for="exampleInputPassword1" class="text-danger">Respuesta 4</label>
            <div id="output4" class="text-left text-danger">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success btn-block rounded-pill">Guardar Pregunta</button>
      </div>-->

  <br>

  <br><br>

</div>

</body>
{% endblock %}