{% extends "admin/templates/layout_dashboard.html" %}

{% block body %}
<div class="container-fluid mx-auto bg-light mheight containBar">
	<br>
	<div class="container bg-white w-75 p-4 scroll-down shadow-sm">
		<h2 class="text-center">Usuarios Registrados</h2>
		<table class="table">
  			<caption>List of users</caption>
  			<thead>
    			<tr>
      				<th scope="col">Nombre</th>
      				<th scope="col">Apellidos</th>
      				<th scope="col">Usuario</th>
      				<th scope="col">Nombre</th>
      				<th scope="col">Role</th>
      				<th scope="col">Accion</th>
    			</tr>
  			</thead>
  			<tbody>
				{% for user in users %}
    			<tr>
      				<td>{{user.1}}</td>
      				<td>{{user.2}}</td>
      				<td>{{user.3}}</td>
      				<td>{{user.4}}</td>
      				<td>{{user.5}}</td>
      				<td><a href="/dashboard/mu/{{user.0}}" class="btn btn-warning"><i class='fas fa-pen' style="color:white;"></i></a>&nbsp;<a href="/dashboard/delete/{{user.0}}" class="btn btn-danger"><i class='fas fa-times' style="color:white;"></i></a></td>
    			</tr>
    			{% endfor %}
  			</tbody>
		</table>
	</div>
</div>
{% endblock %}